.book {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border: 0;
}

.book h2 {
    font-size: 1.3em;
    margin: 4px 0 4px 0;
    font-style: italic;
    text-align: left;
}

.tag {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #eeeeee;
    padding: 3px;
}

.cover {
    float: left;
    width: 100px;
    height: 137px;
    background-color: #eee;
    border: 1px solid black;
    margin-right: 10px;
}

.bookActions {
    list-style-type: none;
}

.bookActions li {
    display: inline-block;
}

.bookActions li a {
    text-decoration: none;
    padding-right: 20px;
}
